body{
   background-color: blanchedalmond;
}
article{
    border: 2px solid black;
    width: 50%;
    background-color: rgb(160, 121, 196);
    box-shadow: 12px 12px 5px black;
    padding: 10px;
    margin: auto;
}
h1{
    border: 2px solid rgb(210, 111, 111);
    background-color:blueviolet;
}